body, ul, li, p, a, label {
    font-family: Arial, Helvetica, sans-serif;
}

#user-balance {
    text-align: right;
}

#caballos-lista li {
    list-style: none;
}

#mensaje-container .mensaje {
    font-size: 2rem;

}